@import url(../bower_components/font-awesome/css/font-awesome.css);
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: "helvetica neue", Helvetica, Arial, Verdana, sans-serif; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

a {
  color: #BE4847;
  text-decoration: none; }
  a:hover {
    color: #E96D3F; }

p {
  color: #5a5a5a; }

img {
  max-width: 100%; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.flicker-feed__item {
  display: inline-block;
  margin: 0 5px; }
  .flicker-feed__item .selected {
    border: 2px dashed red; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px; }

.right-column {
  display: none; }

header {
  margin-top: 20px; }
  header .logo {
    float: left; }
  header .top-links {
    text-align: center;
    overflow: auto;
    font-size: 24px; }
  header .company-title {
    display: inline-block;
    margin-left: 10px;
    font-size: 1em; }

.social-links li {
  display: inline-block;
  margin: 0 20px;
  font-size: 20px; }
.top-links .social-links {
  display: none; }

footer {
  clear: both;
  text-align: center;
  padding: 20px 0;
  background-color: #EDEDED; }

.post__title {
  margin-bottom: 0; }
.post__content .post-more {
  display: none; }
  .post__content .post-more__title {
    margin-bottom: 0; }
  .post__content .post-more__links {
    margin-top: 0; }

/* === NAV === */
#menu-toggle-primary {
  text-align: center; }
  #menu-toggle-primary a {
    background: #EDEDED;
    padding: 5px;
    display: inline-block; }
    #menu-toggle-primary a.close-menu-primary {
      display: none; }

.menu-items {
  margin-top: 0; }
  .menu-items .menu-item {
    text-align: center;
    display: block;
    background-color: #EDEDED;
    border-bottom: 1px solid darkgrey;
    padding: 5px 0; }

#menu-primary-items {
  display: none; }

#menu-primary:target #menu-primary-items {
  display: block; }
#menu-primary:target #menu-toggle-primary a.open-menu-primary {
  display: none; }
#menu-primary:target #menu-toggle-primary a.close-menu-primary {
  display: inline-block; }

@media (min-width: 992px) {
  /* big landscape tablets, laptops, and desktops */
  .container {
    width: 960px; }

  header .top-links {
    text-align: left; }
  header .company-title {
    margin-bottom: 0; }

  .social-links {
    float: right;
    margin-bottom: 0; }
    .top-links .social-links {
      display: block; }

  #menu-toggle-primary {
    display: none; }

  #menu-primary-items {
    display: block; }

  .menu-items {
    margin-top: 0;
    background-color: #EDEDED; }
    .menu-items .menu-item {
      display: inline-block;
      border-bottom: none;
      padding: 5px 15px; }

  .post .post-more {
    display: none; }

  .post__content .post-more {
    display: block; }

  footer .social-links {
    display: none; }

  .right-column {
    display: block;
    float: left;
    width: 30%; }

  .left-column {
    float: left;
    width: 70%; } }
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */ }
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */ }
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */ }

/*# sourceMappingURL=main.css.map */
