//colors
$light-grey: #EDEDED;
$lighter-grey: #f5f5f5;

$paragraph-grey: #5a5a5a;

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.right-column {
  display: none;
}

header {
  margin-top:20px;
  .logo {
    float: left;
  }

  .top-links {
    text-align: center;
    overflow: auto;
    font-size: 24px;
  }

  .company-title {
    display: inline-block;
    margin-left: 10px;
    font-size: 1em;
  }
}

.social-links {
  li {
    display: inline-block;
    margin:0 20px;
    font-size: 20px;
  }
  .top-links & {
    display: none;
  }
}

footer {
  clear: both;
  text-align: center;
  padding: 20px 0;
  background-color: $light-grey;
}

.post {
  &__title {
    margin-bottom:0;
  }

  &__content {
    .post-more {
      display: none;
      &__title {
        margin-bottom:0;
      }
      &__links {
        margin-top:0;
      }
    }
  }
}

/* === NAV === */
#menu-toggle-primary {
  text-align: center;

  a {
    background: $light-grey;
    padding: 5px;
    display: inline-block;
    &.close-menu-primary{
      display: none;
    }
  }
}
.menu-items {
  margin-top:0;
  .menu-item {
    text-align: center;
    display: block;
    background-color:$light-grey;
    border-bottom: 1px solid darkgrey;
    padding: 5px 0;
  }
}
#menu-primary-items{
  display: none;
}

#menu-primary:target {
  #menu-primary-items {
    display: block;
  }
  #menu-toggle-primary {
    a {
      &.open-menu-primary{
        display: none;
      }
      &.close-menu-primary{
        display: inline-block;
      }
    }
  }
}


@media (min-width:992px) {
/* big landscape tablets, laptops, and desktops */
  .container {
    width: 960px;
  }
  header {
    .top-links {
      text-align: left;
    }
    .company-title {
      margin-bottom: 0;
    }
  }
  .social-links {
    float: right;
    margin-bottom:0;
    .top-links & {
      display: block;
    }
  }

  #menu-toggle-primary {
    display: none;
  }
  #menu-primary-items{
    display: block;
  }

  .menu-items {
    margin-top:0;
    background-color: $light-grey;
    .menu-item {
      display: inline-block;
      border-bottom: none;
      padding: 5px 15px;
    }
  }

  .post {
    .post-more {
      display: none;
    }
  }

  .post__content {
    .post-more {
      display: block;
    }
  }


  footer {
    .social-links{
      display: none;
    }
  }

  .right-column {
    display: block;
    float: left;
    width: 30%;
  }

  .left-column {
    float: left;
    width: 70%;
  }
}